button {
  padding: 10px 12px;
  font-weight: 700;
  background-color: #0a0a85db;
  border: unset;
  color: white;
  margin-top: 15px;
}

input {
  margin: 12px 0;
  padding: 15px;
  width: unset;
  border: 1px solid #b7b7b7;
  font-size: 16px;
}

p {
  margin-top: 40px;
  font-size: 16px;
}
p a {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  margin-top: 40px;
}
.error {
  display: flex;
  justify-content: center;
  padding: 14px 0px;
  background-color: tomato;
  margin-top: 15px;
}